
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Classification</title>
</head>
<body>
    <h1>Image Classification</h1>
    <form action="/cls" method="POST" enctype="multipart/form-data">
        <input type="file" name="img" accept=".jpg, .jpeg, .png" required>
        <button type="submit">Upload &amp; Classify</button>
    </form>

    {% if result %}
        <h2>Classification Result:</h2>
        <p>{{ result }}</p>
    {% endif %}

    <!-- {% if image_path %}
    <h2>Uploaded Image:</h2>
    <img src="{{ url_for('uploaded_file', filename= image_path) }}" alt="Uploaded Image">
    {% endif %} -->

    {% if error %}
        <h2>Error:</h2>
        <p>{{ error }}</p>
    {% endif %}
</body>
</html>
