<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <h1>Index Page</h1>
    <button onclick="goToClassificationPage()">Go to Classification Page</button>
    <button onclick="goToWoundSegmentationPage()">Go to goToWoundSegmentationPage Page</button>
    <button onclick="goToStickerSegmentationPage()">Go to goToWoundSegmentationPage Page</button>

    <script>
        function goToClassificationPage() {
            window.location.href = 'cls';
        }
        function goToWoundSegmentationPage() {
            window.location.href = 'wusg';
        }
        
        function goToStickerSegmentationPage() {
            window.location.href = 'stisg';
        }
    </script>
</body>
</html>
